h1 {
 
  font-family: 'Roboto', sans-serif;
}
h2 {
 
  font-family: 'Roboto', sans-serif;
}
h3 {
  
  font-family: 'Roboto', sans-serif;
}
p {
 
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: lightgray
}
a {
 
  font-family: 'Roboto', sans-serif;
}
footer {
  text-align: bottom;
}
li {
  font-family: 'Roboto', sans-serif;  
}
ul {
  font-family: 'Roboto', sans-serif;  
}
